h1{
    text-align: center;
    text-decoration: underline;
    letter-spacing: 5px;

}

h2{
font-weight: normal;
font-family:impact;

}

h3{
    text-align: right;
    text-decoration: line-through;
}

p{
    text-align: left;
    font-weight: bold;
    line-height: 2;
    font-size: 15px;
}